## Predict survivability on titanic using decision trees

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm

### Read data and clean up Nan

In [2]:
data = pd.read_csv('./data/train.csv')
data = data.dropna()

### Extract the relevant colums that will be passed into the machine learning algorithm

In [11]:
training_data = data[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Embarked']]
training_data.head()

    Survived  Pclass     Sex   Age  SibSp  Parch Embarked
1          1       1  female  38.0      1      0        C
3          1       1  female  35.0      1      0        S
6          0       1    male  54.0      0      0        S
10         1       3  female   4.0      1      1        S
11         1       1  female  58.0      0      0        S

### Intuitive analysis of each feature in the decision tree

In [12]:
def compare(group, data):
    return data.groupby([group])['Survived'].sum()*100/data.groupby([group])['Survived'].count()

In [13]:
print(compare('Pclass', data))
print(compare('Sex', data))
print(compare("Embarked", data))
print(compare('SibSp', data))
print(compare('Parch', data))

Pclass
1    67.088608
2    80.000000
3    50.000000
Name: Survived, dtype: float64
Sex
female    93.181818
male      43.157895
Name: Survived, dtype: float64
Embarked
C    73.846154
Q    50.000000
S    63.793103
Name: Survived, dtype: float64
SibSp
0    62.727273
1    73.437500
2    83.333333
3    66.666667
Name: Survived, dtype: float64
Parch
0    65.573770
1    70.270270
2    73.913043
4     0.000000
Name: Survived, dtype: float64

### Convert any categorical data to numeric

In [14]:
def cat_to_num(series):
    series = series.astype('category')
    return series.cat.codes

In [15]:
training_data['Gender'] = data[['Sex']].apply(cat_to_num)
training_data['Port'] = data[['Embarked']].apply(cat_to_num)
training_data = training_data[['Survived', 'Pclass', 'Gender', 'Age', 'SibSp', 'Parch', 'Port']]
train, test = train_test_split(training_data, test_size=0.2)
train.head()

/Users/sgoswami/Dropbox/code-vault/titanic-survival-prediction/env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/sgoswami/Dropbox/code-vault/titanic-survival-prediction/env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     Survived  Pclass  Gender   Age  SibSp  Parch  Port
23          1       1       1  28.0      0      0     2
627         1       1       0  21.0      0      0     2
3           1       1       0  35.0      1      0     2
195         1       1       0  58.0      0      0     0
796         1       1       0  49.0      0      0     2

### Set up an instance of the classifier and feed training data

In [16]:
classifier = DecisionTreeClassifier(max_leaf_nodes=15)

### Wrap the classifier in a function for reusability

In [17]:
def check_classifier_accuracy(clf):
    clf = clf.fit(train[['Pclass','Gender', 'Age', 'SibSp', 'Parch', 'Port']], train['Survived'])
    predictions = clf.predict(test[['Pclass', 'Gender', 'Age', 'SibSp', 'Parch', 'Port']])
    return accuracy_score(test['Survived'], predictions)

In [18]:
check_classifier_accuracy(classifier)

0.70270270270270274

### Explore feature importance and the tree thus formed

In [19]:
classifier.feature_importances_

array([ 0.03561675,  0.4714564 ,  0.43714967,  0.02099982,  0.        ,
        0.03477737])

In [20]:
with open('./out/titanic.dot', 'w') as f:
    f = tree.export_graphviz(classifier, feature_names=['Pclass', 'Gender', 'Age', 'SibSp', 'Parch', 'Port'], out_file=f)

## Use Random Forest Classifier on the same data set

In [21]:
rclf = RandomForestClassifier(n_estimators=1000)

In [22]:
check_classifier_accuracy(rclf)

0.67567567567567566

## Use Support Vector Machines on the same dataset

In [23]:
svc = svm.SVC()

In [24]:
check_classifier_accuracy(svc)

0.70270270270270274